@font-face {
    font-family: "FuturaRenner";
    src: url("../assets/fonts/FuturaRenner-Light.ttf") format("truetype");
}

$background: #2c2c2c;
$container-background: #1a1a1a;
body {
    color: white;
    background-color: $background;
    height: 100%;
}

.container {
    margin: 0 5% 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    
}

.title {
    font-family: "FuturaRenner";
    width: 100%;
}

#game {
    background-color: $container-background;
    height: 100%;
    width: 60%;
    text-align: center;
    padding: 25px 25px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px #1a1a1a;
}

#chat {
    margin: 0 5% 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px #1a1a1a;
    overflow: hidden;
    padding: 0px 5px 5px;
    background-color: $container-background;
    .chat-log {
        flex-grow: 1;
        background-color: $container-background;
        color: white;
    }
    textarea {
        margin-bottom: 0px;
        background-color: #1a1a1a;
        border: 1px solid #919191;
        border-bottom: none;
        border-radius: 5px 5px 0px 0px;
        color: rgb(216, 216, 216);
        height: 50px;
    }
    button {
        border: 1px solid #919191;
        border-radius: 0px 0px 5px 5px;
        border-top: none;
        height: 25px;
        &:hover {
        }
    }
}